.welcome-header{
    margin-top: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title{
    margin-bottom: 30px;
    font-size: 26px;
}

.welcome-header__text{
    color: rgb(74, 74, 75);
    width: 60%;
    margin-bottom: 60px;
    font-weight: 250;
}
#login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input{
    border : none;
    padding : 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
    
}

#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
} 

#login-form input::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus{
    border-color: var(--yellow);
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: progress;
    border-radius: 8px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
   
    font-size: 15px;
}