.alt-header{
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.alt-header__columm{
    width: 33%;
}

.alt-header__title{
    font-size: 32px;
    font-weight: 600;
}

.alt-header__columm:first-child{
    margin-right: auto;
}

.alt-header__columm:last-child{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__columm:nth-child(2){
    text-align: center;
}

.alt-header__columm span:last-child{
    margin-left: 16px;
}




